* @rice8y

/frontend/ @rice8y @mana1231
/backend/ @rice8y @mana1231

/pipeline/ @rice8y
/pipeline/bibtex_reconstruction/ @rice8y @koyamaM25
/pipeline/citation_context_extraction/ @rice8y @mana1231 @koyamaM25
/pipeline/metadata_extraction/ @rice8y @koyamaM25

/scripts/ @rice8y

/docs/ @rice8y @mana1231