* @rice8y

# /frontend/ @rice8y @memberA
# /backend/ @rice8y @memberB

# /pipeline/ @rice8y
# /pipeline/bibtex_reconstruction/ @rice8y @memberA
# /pipeline/citation_context_extraction/ @rice8y @memberB
# /pipeline/metadata_extraction/ @rice8y @memberA

# /scripts/ @rice8y @memberB

# /docs/ @rice8y @memberA