[Unit]
Description=BibMgR production services
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/bibmgr
ExecStart=/usr/bin/docker compose --env-file .env.production -f compose.production.yaml up --detach --build --wait
ExecStop=/usr/bin/docker compose --env-file .env.production -f compose.production.yaml down
TimeoutStartSec=15min

[Install]
WantedBy=multi-user.target
